body { background-color: #e5e6e7; }

#markerMap { width: 100% ;height: 70vh; margin-bottom: 1.5rem; }
.section-title {
    background: #343a40; color: #fff;
    padding: .5rem 1rem; margin-top: 1.5rem;
    font-weight: bold; border-radius: .25rem;
}
.legend-item {
    display: flex; align-items: center; margin-bottom: .5rem;
}
.legend-icon {
    width: 16px; height: 16px; margin: 0 .5rem;
}
.description {
    font-size: .9rem; color: #555;
}

.header {
background-color: #343a40bd;
color: white;
padding: 2rem 1rem;
}

.header img {
max-width: 100%;
height: auto;
}